/* this css for body*/
body{
   background-color:#F9D5D7;
}

/* this css for the header*/
.navbar {
    margin-bottom: 0;
  background-color: #F6ECE7;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}

#tasksBox{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
/* title*/
p.title {
  font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  color: white;
  font-size: 44px;
  font-weight: bold;
  -webkit-text-stroke: 1px #D1CFCF;
  text-align: center;
}
/* steps container*/
.list-group{
  padding: 19px;
  background-image: url(pics/flowerWall.jpg);
}
.list-group-item{
  background-color: #FBF0F4;
}
/* this css for the steps*/
.container-fluid {
  height: 100vh;
  background-color:#F9D5D7;
}

/* checkbox css*/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  float:right;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input.default:checked + .slider {
  background-color: #F28A9D;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
