body {
 background-color:#F9D5D7;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
/* this css for the header*/
.navbar {
    margin-bottom: 0;
  background-color: #F6ECE7;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}
a.navbar-brand{
  color: #660099;
}

/* form css*/
.formBox{
	margin-top: 90px;
	padding: 50px;
}
.formBox  h1{
	margin: 0;
	padding: 0;
	text-align: center;
	margin-bottom: 50px;
	text-transform: uppercase;
	font-size: 48px;
}
.inputBox{
	position: relative;
	box-sizing: border-box;
	margin-bottom: 50px;
}
.inputBox .inputText{
	position: absolute;
    font-size: 24px;
    line-height: 50px;
    transition: .5s;
    opacity: .5;
}
.inputBox .input{
	position: relative;
	width: 100%;
	height: 50px;
	background: transparent;
	border: none;
    outline: none;
    font-size: 24px;
    border-bottom: 1px solid rgba(0,0,0,.5);

}
.focus .inputText{
	transform: translateY(-30px);
	font-size: 18px;
	opacity: 1;
	color: #00bcd4;

}
textarea{
	height: 100px !important;
}
.button{
	width: 100%;
    height: 50px;
    border: none;
    outline: none;
    background: #03A9F4;
    color: #fff;
}

/* Date css*/
.date-picker,
.date-container {
    position: relative;
    display: inline-block;
    width: 100%;
    color: rgb(75, 77, 78);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.date-container {
    padding: 0px 40px;
}

.date-picker h2, .date-picker h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}

.date-container{
    text-align: center;
}
.date-picker span.fa {
    position: absolute;
    cursor: pointer;
}
.date-picker span.fa[data-method="subtract"] {
    left: 0px;
}
.date-picker span.fa[data-method="add"] {
    right: 0px;
}


@media (min-width: 768px) and (max-width: 1010px) {
    .date-picker h2{
        font-size: 1.5em;
        font-weight: 400;
    }
    .date-picker h4 {
        font-size: 1.1em;
    }
    .date-picker span.fa {
        font-size: 3em;
    }
}
